header, footer {
    background-color: blueviolet;
    border-radius: 25px;
    padding: 20px;
    max-width: 1000px;
    color: #57e2e5;
}

header{
    height: 100px;
    text-align: center;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    float: left;
    font-size: 42pt;
}

img{
    float: right;    
}

ul{
    list-style: none;
}

footer li {
    float: left;
}
footer ul {
    text-align: center;
}

footer ul li{
    display: inline;
    text-align: center;
    padding-right: 6px;
    text-decoration: none;
}
footer a:link{
    color: #57e2e5;
}

footer a:visited{
    color: #e08dac;
}

footer {
    text-align: center;
}

#lastUpdated {
    float: none;
}